<mat-toolbar color="primary" class="fish-toolbar">
  <span>FISH-DESKTOP</span>
  <span class="spacer"></span>
  <button mat-icon-button>
    <mat-icon (click)="close()">close</mat-icon>
  </button>
</mat-toolbar>
<form *ngIf="addressForm" [formGroup]="addressForm!" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>钓鱼控制台</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="钓鱼按键" formControlName="fb">
            <mat-hint>钓鱼按键，如果是坐标用逗号隔开</mat-hint>
            <mat-error>
              钓鱼按键必须填写
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="开河蚌箱子宏" formControlName="om">
            <mat-hint>打开河蚌箱子宏按键，如果是坐标用逗号隔开</mat-hint>
            <mat-error>
              开河蚌箱子宏必须填写
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="明亮度" formControlName="l">
            <mat-hint>明亮度大于等于这个值就收杆</mat-hint>
            <mat-error>
              明亮度必须填写
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-select placeholder="魔兽版本" formControlName="wowVersion">
              <mat-option value="60">60</mat-option>
              <mat-option value="70">70</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <section class="split-section">
            <h4>选择分屏区域</h4>
            <div>
              <p>
                <mat-checkbox formControlName="split1">分屏1</mat-checkbox>
              </p>
              <p>
                <mat-checkbox formControlName="split2">分屏2</mat-checkbox>
              </p>
              <p>
                <mat-checkbox formControlName="split3">分屏3</mat-checkbox>
              </p>
              <p>
                <mat-checkbox formControlName="split4">分屏4</mat-checkbox>
              </p>
            </div>
          </section>
        </div>
        <div class="col desc">
          <h3>使用说明</h3>
          <ul>
            <li role="listitem">选择湖面颜色相对单一的钓鱼环境</li>
            <li role="listitem">把视角调制最前面，不能看到角色，只能看见钓鱼浮漂</li>
            <li role="listitem">点击开始钓鱼按钮</li>
            <li role="listitem">鼠标移动到钓鱼浮漂上按F4取色（一般选择红色或者蓝色浮漂，选择一个和周围环境差别大的颜色）</li>
            <li role="listitem">按F3开始钓鱼</li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button mat-button type="button" (click)="addSycle()">
            + 添加按键循环
          </button>
        </div>
      </div>
      <div class="row" *ngFor="let v of cycleList; index as i">
        <mat-form-field class="min-input">
          <input matInput placeholder="按键" formControlName="{{preKey}}{{v}}_key">
          <mat-hint>按键</mat-hint>
          <mat-error>按键必须填写</mat-error>
        </mat-form-field>
        <mat-form-field class="min-input">
          <input matInput placeholder="施法秒数" formControlName="{{preKey}}{{v}}_cast">
          <mat-hint>施法秒数</mat-hint>
          <mat-error>施法必须填写</mat-error>
        </mat-form-field>
        <mat-form-field class="min-input">
          <input matInput placeholder="周期秒数" formControlName="{{preKey}}{{v}}_cycle">
          <mat-hint>周期秒数</mat-hint>
          <mat-error>周期必须填写</mat-error>
        </mat-form-field>
        <section class="s-section">
          <span class="caption">所属分屏</span>
          <mat-checkbox class="s-split" formControlName="{{preKey}}{{v}}_split1">1</mat-checkbox>
          <mat-checkbox class="s-split" formControlName="{{preKey}}{{v}}_split2">2</mat-checkbox>
          <mat-checkbox class="s-split" formControlName="{{preKey}}{{v}}_split3">3</mat-checkbox>
          <mat-checkbox class="s-split" formControlName="{{preKey}}{{v}}_split4">4</mat-checkbox>
        </section>
        <button mat-mini-fab color="warn" class="del-sycle" (click)="delCyle(i)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="accent" type="button" (click)="initForm()">重置</button>
      <button mat-raised-button color="primary" type="submit">
        <span *ngIf="isRun">停止钓鱼</span>
        <span *ngIf="!isRun">开始钓鱼</span>
      </button>
      <a mat-raised-button routerLink="document">
        详细说明
      </a>
    </mat-card-actions>
  </mat-card>
</form>
<mat-card>
  <mat-card-header>
    <h3>日志</h3>
  </mat-card-header>
  <mat-card-content>
    <div id="logbox">
      <p *ngFor="let v of logList">{{v}}</p>
    </div>
  </mat-card-content>
</mat-card>